@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sean+Slab:wght@400;800&display=swap');

@font-face {
  font-family: 'Sean Slab Narrow';
  src: url('../fonts/seanslab-normalblack-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Sean Slab', serif;
}

.LogoRedirect{
    height: 28px;
    width: 28px;
    max-width :  35px;
    max-height :  35px;
}

.logo {
    height: 120px;
}

body {
    background-color: #ffffff;
    color: #000000;
    padding-top: 80px; /* Pour compenser la hauteur de la navbar fixe */
}

.legal-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border: solid;
    border-color: #e5e5e5;
    border-width: 1px;
}

.legal-container h1 {
    font-family: 'League Spartan', Arial, sans-serif;
    font-weight: 600;
    font-size: 42.66px;
    color: #000000;
    text-align: center;
    margin-bottom: 3rem;
    border-bottom: none;
    padding-bottom: 1rem;
    text-align: left;
}

section {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    background-color: #eaeaea75;
}

section h2 {
    font-family: 'Sean Slab', Arial, serif;
    font-weight: 800;
    font-size: 24px;
    color: #00555a;
    margin-bottom: 1.5rem;
}

section p, section ul, section ul li {
    font-family: 'Sean Slab Narrow', 'Sean Slab', Arial, serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 1rem;
}

section ul {
    list-style-type: none;
    padding-left: 1rem;
}

section ul li {
    margin-bottom: 0.5rem;
}

section a {
    color: #00555a;
    text-decoration: none;
    transition: color 0.3s;
}

section a:hover {
    color: #4d94ff;
    text-decoration: underline;
}



/* Aligner la navbar et le bloc principal */
.Navbar_centrer {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: -74px;
}





















  